@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
body{
 background-image: url(/images/fondo_error_bueno1.jpg);
 background-repeat: no-repeat;
 background-size: 2150px 1200px;
 background-attachment: fixed;
 text-align: center;
 font-family: 'Open Sans';

}
div{
 background-color: white;
 margin-top: 25%;
 margin-right: auto;
 margin-left: auto;
 border-radius: 25px;
 padding-top: 16px;
 padding-bottom: 16px;
 background-image: linear-gradient(to right, white, lightgray);
}
button{
 color: white;
 background-color:red;
 text-align: center;
 cursor: pointer;
 font-size: 24px;
 border-radius: 40px;
 border: 2px solid White;
 transition-duration: 0.4s;
 margin-left: auto;
 margin-right: auto;
 	
 	
 	
}
.button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}


