@charset "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
body{
	background-image: url(/images/fondo_ticketmaster.jpg);
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
}
.bg-blur{
  background-image: url(/images/fondo_ticketmaster.jpg);
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#evento{
	margin-top: 8%;
}
#foto{
	margin-top: 8%;
}
h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}


#slider {
  margin-top: 10%;
  position: relative;
  overflow: hidden;
  margin: 100px auto 0 auto;
  border-radius: 50px;
  border: solid 2px gray;
}

#slider ul {
	
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 900px;
  height: 600px;
  background: #ccc;
  text-align: center;
  line-height: 20px;
  overflow: auto;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
.redfamily {
	color: red;	
}
.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}
.search-wrapper {
	z-index: 1;
	position: absolute;
	width: 500px;
	margin: auto;
	margin-top: 10px;
	top:2%;
	left:12px;
	right: 12px;
}
.search-box {
	width: 80%;
	border: 1px solid #ccc;
 	outline: 0;
 	border-radius: 15px;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  	outline: 0;
 	 cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}
.button {
  position: absolute;
  right: 35px;
  top:80%;
  background-color: #4CAF50; /* Green */
  border: none;
  border-style:solid;
  border-color:green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 55px;
}
.button2 {
  position: absolute;
  left: 35px;
  top:80%;
  background-color: #4CAF50; /* Green */
  border: none;
  border-style:solid;
  border-color:green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 55px;
}
.button1:hover {
	
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.error {
    width: 700px;
    height: 100px;
    font-size: 50px;
    margin: auto;
    line-height: 100px;
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    border: solid 1px #00BFFF;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    z-index: 1;
}

.error:after,
.error:before {
    display: block;
    background: #00BFFF;
    width: 0;
    height: 100px;
    content: "";
    position: absolute;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    z-index: -1;
}

.error:after {
    bottom: 0px;
    left: 0px;
    width: 50%:
}

.error:before {
    top: 0px;
    right: 0px;
}

.error:hover:after,
.eror:hover:before{
  width: 100%;
}