<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
    	<description></description>
    	<display-name>SearchFlightController</display-name>
   		<servlet-name>SearchFlightController</servlet-name>
    	<servlet-class>aiss.controller.SearchFlightController</servlet-class>
  	</servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightController</servlet-name>
    <url-pattern>/SearchFlightController</url-pattern>
  </servlet-mapping>
  
  	<servlet>
    	<description></description>
    	<display-name>CreateFSessionController</display-name>
   		<servlet-name>CreateFSessionController</servlet-name>
    	<servlet-class>aiss.controller.CreateFSessionController</servlet-class>
  	</servlet>
  <servlet-mapping>
    <servlet-name>CreateFSessionController</servlet-name>
    <url-pattern>/CreateFSessionController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TicketMasterController</display-name>
    <servlet-name>TicketMasterController</servlet-name>
    <servlet-class>aiss.TicketMasterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketMasterController</servlet-name>
    <url-pattern>/TicketMasterController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>GoogleCalendarListController</display-name>
    <servlet-name>GoogleCalendarListController</servlet-name>
    <servlet-class>aiss.GoogleCalendarListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarListController</servlet-name>
    <url-pattern>/googleCalendarList</url-pattern>
  </servlet-mapping>
  <!--   GoogleCalendar oAuth2 servlets    -->
  <!-- GoogleCalendarAuthController-->
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarAuthController</servlet-name>
    <url-pattern>/AuthController/GoogleCalendar</url-pattern>
  </servlet-mapping>
  <!--GoogleCalendarOAuth2Callback-->
  <servlet>
    <description></description>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/TicketMasterController</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleCalendar</url-pattern>
  </servlet-mapping>

</web-app>