<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>TripServlet</servlet-name>
		<servlet-class>aiss.TripServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TripServlet</servlet-name>
		<url-pattern>/prueba</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>vuelo.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
    	<description></description>
    	<display-name>SearchFlightController</display-name>
   		<servlet-name>SearchFlightController</servlet-name>
    	<servlet-class>aiss.controller.SearchFlightController</servlet-class>
  	</servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightController</servlet-name>
    <url-pattern>/SearchFlightController</url-pattern>
  </servlet-mapping>
  
  	<servlet>
    	<description></description>
    	<display-name>CreateFSessionController</display-name>
   		<servlet-name>CreateFSessionController</servlet-name>
    	<servlet-class>aiss.controller.CreateFSessionController</servlet-class>
  	</servlet>
  <servlet-mapping>
    <servlet-name>CreateFSessionController</servlet-name>
    <url-pattern>/CreateFSessionController</url-pattern>
  </servlet-mapping>
  
</web-app>